.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.windows {
	margin: 20px;
	border-radius: 15px;
}

.awning {
  margin: 15px;
	background: #22A5FF;
	color: white;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	box-shadow: 0 10px 10px -5px #555;
	display: flex;
	padding: 0 10px;
  justify-content: space-between;
  position: sticky;
}

.awning-title {
  margin-left: 20px;
  font-weight: bold;
  font-size: 1.4em;
}

.awning-icon, .caret {
	margin-right: 20px;
}

.caret {
  height: 100%;;
}

.filters-window {
	background: #EEE;
  display:flex;
  justify-content: space-around;
  padding: 45px 0;
  margin-top: -30px;
}

.main-legs {
  width: 100%;
  margin-top: -22px;
	background: #EEE;
}

.calls  {
  display: flex;
  justify-content: space-around;
  width: 100%;
	background: #EEE;
}

.call-item {
  text-align: left;
}

.table-header {
  height: 75px;
}

thead {
  background: silver;
  color: white;
}

tr:nth-child(even) {
  background: silver;
}

.custom-date {
  display: flex;
}

.start-date {
  margin-right: 15px;
}
.start-date-header {
  padding: 0 15px;
}

.start-date-header, .end-date-header {
  text-align: left;
}

input.MuilnputBase-input.Muilnput-input {
  width: 270px;
  border: none;
}

#outlined-basic {
	//width: 100%;
	width: 180px;
	margin-right: 15px;
}

.filters-input {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.date-picker-container {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}
