.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.windows {
	margin: 15px;
	border-radius: 15px;
}

.awning {
	margin: 15px;
	background: #22A5FF;
	color: white;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	box-shadow: 0 1px 1px 1px #ddd;
	display: flex;
	padding: 0 10px;
	justify-content: space-between;
}

.awning-icon  {
	margin-right: 10px;
}

.filters-window {
	background: #EEE;
  display:flex;
  justify-content: space-around;
}

.main-legs {
  width: 100%;
	background: #EEE;
}

.calls  {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: gray;
}

.call-item {
  text-align: left;
}

thead {
  background: gray;
  color: white;
}

tr:nth-child(even) {
  background: gray;
}

.custom-date {
  display: flex;
}

.start-date {
  //border: 1px solid black;
  margin-right: 15px;
}

.end-date {
  //border: 1px solid black;
}

.start-date-header, .end-date-header {
  text-align: left;
}